{% extends "base.html" %}

{% block title %}
Booking Canceled
{% endblock %}

{% block body %}
<div class="content">
    <div class="message-box">
        <h1 class="success-heading">Booking Canceled</h1>
        <p>Your hotel room booking has been successfully canceled.</p>
        <p>Your payment will be refunded to your account within 3-5 business days.</p>
        <p>We apologize for any inconvenience caused.</p>
        <a href="/" class="btn">Return to Home</a>
    </div>
</div>
{% endblock %}
