{% extends 'base.html' %}

{% block body %}
<section id="events">
    <h1 class="text-center mb-4">Events</h1>
    <br>
    <div class="event">
        <div class="menu-item">
            <h3>Neon Splash Pool Party</h3>
            <p>Dive into the night at our Neon Splash Pool Party! Groove to electrifying beats by top DJs, sip on signature cocktails, and make a splash under neon lights.</p>
            <p><strong>Date:</strong> August 20, 2024</p>
            <p><strong>Time:</strong> 8:00 PM onwards</p>
            <p><strong>Location:</strong> The Aquatic Arena</p>
        </div>
        <br>
    </div>
    <div class="event">
        <div class="menu-item">
            <h3>Rockstar Karaoke Night</h3>
            <p>Grab the mic and unleash your inner rockstar at our Rockstar Karaoke Night! Belt out your favorite tunes, enjoy drink specials, and rock the stage with friends.</p>
            <p><strong>Date:</strong> September 5, 2024</p>
            <p><strong>Time:</strong> 9:00 PM onwards</p>
            <p><strong>Location:</strong> The Melody Lounge</p>
        </div>
        <br>
    </div>
    <div class="event">
        <div class="menu-item">
            <h3>Glow & Flow Yoga</h3>
            <p>Experience yoga like never before at Glow & Flow Yoga! Stretch and unwind amidst neon lights and soothing beats, followed by refreshing post-session mocktails.</p>
            <p><strong>Date:</strong> October 15, 2024</p>
            <p><strong>Time:</strong> 6:30 AM - 8:00 AM</p>
            <p><strong>Location:</strong> The Zen Garden</p>
        </div>
        <br>
    </div>
    <div class="event">
        <div class="menu-item">
            <h3>Fire & Ice Cocktail Spectacle</h3>
            <p>Ignite your senses at our Fire & Ice Cocktail Spectacle! Witness mesmerizing mixology demonstrations, sample fiery and frosty concoctions, and master the art of cocktail crafting.</p>
            <p><strong>Date:</strong> November 12, 2024</p>
            <p><strong>Time:</strong> 7:00 PM - 10:00 PM</p>
            <p><strong>Location:</strong> The Mixology Lab</p>
        </div>
    </div>
</section>
{% endblock %}
