{% extends "base.html" %}

{% block title %}
Rave Oasis: Hotel Ibiza
{% endblock %}

{% block body %}
<br>
<img src="/static/logo2.jpg" alt="Your Logo" style="display: block; margin: 0 auto; width: 900px; height: auto;">
<div class="container">
  <div class="hero-section text-center py-5">
    <h1 class="display-4 mb-4">Welcome to Rave Oasis: Hotel Ibiza</h1>
    <h1 class="display-4 mb-4">Experience the ultimate blend of luxury, excitement, and relaxation at our vibrant hotel!</h1>
  </div>



{% endblock %}
